  <div class="row" id="toprow">
        <div class="col-10">
          <img src="" alt="BookMe! Logo">
        </div>
        <div class="col-2" id="forbusiness" onclick="openForm()"><strong>For Businesses</strong></div>
  </div >
        
        
                         

  <div class="row" id="secondrow" style="background-image: url('background.png');">
            
            
  </div>
        <div>
            <h2><strong>Explore BookMe!</strong></h2>
            <ul class="">
                <li class="list-group-item"><a href="http://localhost:3000/bookmeapp/registration">Egon Stjørdal</a></li>
                <li class="list-group-item"><a href="">Napoli</a></li>
               
            </ul>
  </div>

        

  <div class="loginPopup">
    
        <div class="formPopup" id="popupForm">
    
            <form action="/action_page.php" class="formContainer">
                <h2>Please Log in</h2>
                <label for="email"><strong>E-mail</strong></label>
                <input type="text" id="email" placeholder="Your Email" name="email" required>
                <label for="psw"><strong>Password</strong></label>
                <input type="password" id="psw" placeholder="Your Password" name="psw" required>
                <button type="submit" class="btn">Log in</button>
                <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                <p>Not yet registered? <a href="http://127.0.0.1:5500/BookMeApp/registration.html">Register here.</a></p>
            </form>
        </div>
  </div>



