<body style="background-color:rgb(0, 0, 0);">
    <img src="Image/10_Wall.jpg" alt="wallpaper" class="wall" scroll="no">

    <div style="width:1178px;height:126px;margin-left: 131px;margin-top: 0px; position: absolute; background: #FFFFFF;overflow: hidden;">
        <img src="Image/1_pasta.png" alt="noodles" class="logo">
        <h2>Mee</h2>
        <h1>LAZAT</h1>
        <h3>.com</h3>
    </div>

    <div>
        <img class="cropped" src="Image/1_lindsay-moe-8uL9OS9Zvys-unsplash.jpg" alt="noodles1">
        <div class="title">
            <h4>Home</h4>
        </div>
    </div>

    <div style="position: absolute;">
        <p style="width: 727px;height: 156px;margin-left: 356px;margin-top: 446px;">
            Mee aka noodles can be classified into several types based on different processing technologies, such as fresh raw noodle, dried noodle, parboiled noodle, frozen noodle, steamed noodle, and instant noodle.</p>
    </div>
    
    <div>
            <div class="content" style="margin-left: 477px;margin-top: 670px;">
                <p style="width: 479px;height: 170px;margin-left: 233px;margin-top: 69px;text-align: center;">
                Dried noodles have much lower moisture content due to the drying process, and thus have a longer shelf life than fresh raw noodles.</p>
            </div>
            <div>
                <img class="Img-rnd" src="Image/1_fernando-andrade-sEi3apr6Vys-unsplash.jpg" alt="noodles2" style="width: 309px;height: 308px;margin-left: 382px;margin-top: 670px;object-fit: cover;">
            </div>
            <div class="title-2" style="margin-left: 195px;margin-top: 670px;">
                <p style="margin-left: 18px;margin-top: 12px;">Factory</p>
            </div>
            
            <div class="content" style="margin-left: 477px;margin-top: 1050px;">
                <p style="width: 507px;height: 245px;margin-left: 233px;margin-top: 31px;text-align: center;">
                    Fresh raw noodles have moisture content of around 32%–38% and are prepared without drying. Common types of fresh raw noodles include Chinese white salt noodles, yellow alkaline noodles, and Japanese udon.</p>
            </div>
            <div>
                <img class="Img-rnd" src="Image/1_alex-lvrs-ffQsz3EuG0U-unsplash.jpg" alt="noodles2" style="width: 309px;height: 308px;margin-left: 382px;margin-top: 1050px;object-fit: cover;">
            </div>
            <div class="title-2" style="margin-left: 195px;margin-top: 1050px;">
                <p style="margin-left: 18px;margin-top: 12px;">Homemade</p>
            </div>
    </div>

    <div style="width: 1178px;height: 126px;margin-left: 131px;margin-top: 1441px;position: absolute; background: #FFFFFF;">
        <img src="Image/1_pasta.png" alt="noodles" width="92px" height="84px">
        <a href="" class="barbutton">Home</a>
        <a href="" class="barbutton">Recipe</a>
        <a href="" class="barbutton">Ingredients</a>
        <a href="" class="barbutton">Origin</a>
        <a href="" class="barbutton">About us</a>
        <img src="Image/10_Icon_searchbar.png" alt="Search" width="77px" height="24px">
        <img src="Image/10_icon_facebook.png" alt="fb" width="23px" height="24px">
        <img src="Image/10_instagram.png" alt="ig" width="23px" height="24px">
    </div>

    <h5 style="position: absolute;">2023 @ MeeLAZAT</h5>
