<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://www.seekpng.com/png/detail/161-1614674_call-to-action-transparent-volunteer-png.png" alt="logo"
        id="logo-min">
    </a>
  </div>
  <div class="container-fluid">
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Поиск">
      <button class="btn btn-outline-success" type="submit" id="btn-search">Search</button>
    </form>
  </div>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/aboute">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="logging">Log inn</a>
    </li>
  </ul>
</nav>