<body style="background-color:rgb(162, 109, 187);">
    <img src="Image/10_Wall.jpg" alt="wallpaper" class="wall" scroll="no">

    <div style="width:1178px;height:126px;margin-left: 131px;margin-top: 0px; position: absolute; background: #FFFFFF;overflow: hidden;">
        <h2 style="position: absolute;
        margin-top: 5px;
        margin-left: 43px;
        width: 289px;
        height: 121px;
        font-family: 'Italianno';
        font-style: normal;
        font-weight: 400;
        font-size: 128px;
        line-height: 160px;
        text-align: center;
        color: #000000;">cookin</h2>
        <h1 style="position: absolute;
        width: 177px;
        height: 63px;
        margin-left: 495px;
        margin-top: 56px;
        font-family: 'Italianno';
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        line-height: 80px;
        text-align: center;
        color: #000000;">hack</h1>
    </div>

    <div>
        <div class="title" style="position: absolute;
        width: 722px;
        height: 212px;
        margin-left: 359px;
        margin-top: 172px;
        background: rgba(0, 0, 0, 0.5);
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 50px;">
            <h4 style="position: absolute;
            width: 543px;
            height: 199px;
            margin-left: 89px;
            margin-top: 7px;
            font-family: 'Italiana';
            font-style: normal;
            font-weight: 400;
            font-size: 128px;
            line-height: 151px;
            align-items: center;
            text-align: center;
            color: #FFFFFF;">Home</h4>
        </div>
    </div>

    <div style="position: absolute;">
        <p style="width: 727px;height: 156px;margin-left: 356px;margin-top: 446px;font-family: 'Italiana';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
    
        text-align: center;
    
        color: #000000;">
            Mee aka noodles can be classified into several types based on different processing technologies, such as fresh raw noodle, dried noodle, parboiled noodle, frozen noodle, steamed noodle, and instant noodle.</p>
    </div>
    
    <div>
            <div class="content" style="margin-left: 477px;margin-top: 670px;">
                <p style="width: 479px;height: 170px;margin-left: 233px;margin-top: 69px;text-align: center;font-family: 'Italiana';
                font-style: normal;
                font-weight: 400;
                font-size: 28px;
            
                text-align: center;
            
                color: #000000;">
                Dried noodles have much lower moisture content due to the drying process, and thus have a longer shelf life than fresh raw noodles.</p>
            </div>
            <div>
            </div>
            <div class="title-2" style="margin-left: 195px;margin-top: 670px;">
                <p style="margin-left: 18px;margin-top: 12px;font-family: 'Italiana';
                font-style: normal;
                font-weight: 400;
                font-size: 28px;
            
                text-align: center;
            
                color: #000000;">Factory</p>
            </div>
            
            <div class="content" style="margin-left: 477px;margin-top: 1050px;">
                <p style="width: 507px;height: 245px;margin-left: 233px;margin-top: 31px;text-align: center;font-family: 'Italiana';
                font-style: normal;
                font-weight: 400;
                font-size: 28px;
            
                text-align: center;
            
                color: #000000;">
                    Fresh raw noodles have moisture content of around 32%–38% and are prepared without drying. Common types of fresh raw noodles include Chinese white salt noodles, yellow alkaline noodles, and Japanese udon.</p>
            </div>
            <div>
            </div>
            <div class="title-2" style="margin-left: 195px;margin-top: 1050px;">
                <p style="margin-left: 18px;margin-top: 12px;font-family: 'Italiana';
                font-style: normal;
                font-weight: 400;
                font-size: 28px;
            
                text-align: center;
            
                color: #000000;">Homemade</p>
            </div>
    </div>

    <div style="width: 1178px;height: 126px;margin-left: 131px;margin-top: 1441px;position: absolute; background: #FFFFFF;">
        <img src="Image/1_pasta.png" alt="noodles" width="92px" height="84px">
        <a href="" class="barbutton">Home</a>
        <a href="" class="barbutton">Recipe</a>
        <a href="" class="barbutton">Ingredients</a>
        <a href="" class="barbutton">Origin</a>
        <a href="" class="barbutton">About us</a>
        <img src="Image/10_Icon_searchbar.png" alt="Search" width="77px" height="24px">
        <img src="Image/10_icon_facebook.png" alt="fb" width="23px" height="24px">
        <img src="Image/10_instagram.png" alt="ig" width="23px" height="24px">
    </div>

    <h5 style="position: absolute;">2023 @ MeeLAZAT</h5>
